@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');

#container{
    height: 100px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(87, 201, 87),rgb(68, 68, 165));
}
#imgContainer{
    margin-top: 20px ;

}
#imgContainer img{
    height: 400px;
}
.para{
    width: 80%;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
}

@media only screen and (max-width: 600px) {
    #imgContainer{
        width: 80%;
    }
    #imgContainer img{
        height: 300px;
        width: 100%;
    }
    .para{
        font-family: 'Courier New', Courier, monospace;
    }
}
